name = "chatbot"
main = "src/index.ts"
compatibility_date = "2025-12-21"

[env.staging.observability]
enabled = true

[durable_objects]
bindings = [
  { name = "CHAT_MEMORY", class_name = "ChatMemoryDO" }
]

[[migrations]]
tag = "v1"
new_classes = ["ChatMemoryDO"]

# ===== DEV ENV =====
[env.dev]
name = "chatbot-dev"

# ===== PROD ENV =====
[env.production]
name = "chatbot-prod"